
<html>
    <head>
        <title>
            Music Genre Blog
        </title>
        <link rel="stylesheet" type="text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href = "stylesheets/app.css">
        
    </head>
    <body>
        <div class = "ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"> <i class="music icon"></i> Music Genre Blog </div>
                <a href="/" class="item">Home</a>
                <a href="/genre/new" class="item">New Genre</a>
            </div>
        </div>        

