i.icon{
   font-size: 2em; 
} 
.videoContainer {
    margin: 0 auto;
    position: relative;
    width: 60%;
    height: 0;
    padding-bottom: 36.25%;
}
.video {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.container.main{
    margin-top : 7.0em;
}
img{
    height:20%;
    width: 20%;
}
.delete-button{
    margin-top:2em;
    display:inline;
}
.ui.items>.item>.content p:last-child {
    margin-bottom: 0;
    font-size: 1.1em;
    margin-top: 2em;
    
}

.delete-edit{
    margin-top: 1.5em;
}

.ui.huge.header{
    text-align:center;
}

.content:first-child{
    margin-bottom:50px;
}
.created{
    font-style:italic;
    font-weight: bold
}